.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.input {
  height: 34px;
  padding: 3px 12px;
  font-size: 14px;
}

.button {
  margin: 10px;
  padding: 6px 12px;
  font-size: 14px;
}
