.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;  
}

.containerVertical {
  composes: container;
  flex-direction: column;
}

.containerHorizontal {
  composes: container;
  flex-direction: row;
}

.input {
  height: 34px;
  padding: 3px 12px;
  font-size: 14px;
}

.button {
  margin: 10px;
  padding: 6px 12px;
  font-size: 14px;
  flex: 1 0 auto;
}
