.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherStatus {
  background-size: cover;
  width: 130px;
  height: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.date {
  font-weight: 200;
  font-size: 30px;
  color: #666;
}