.container {
  background-size: cover;
  background-image: url("/app/images/pattern.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header {
  font-size: 45px;
  color: #fff;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
}
