.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.cityName {
  font-weight: 200;
  font-size: 40px;
}

.details {
  font-weight: 200;
  font-size: 30px;  
}